<a href="https://colab.research.google.com/github/brunonbn/intro-data-science/blob/main/Contadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
s = pd.Series(list('asdaesdaesdasesda'))
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [7]:
# retorna os valores únicos da série, mas sem retornar a quantidade de cada um dos valores
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [8]:
# retorna os valores únicos e um contador para cada um deles
s.value_counts()

s    5
a    5
d    4
e    3
dtype: int64

In [10]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [11]:
dados['Tipo'].unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [12]:
dados['Tipo'].value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Indústria                          1
Pousada/Chalé                      1
Name: Tipo, dtype: int64