<a href="https://colab.research.google.com/github/brunonbn/intro-data-science/blob/main/CriandoAgrupamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório de Análise VII

## Criando Agrupamentos

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("Aluguel_Residencial4.csv", sep = ";")

In [3]:
dados.head(10)

                 Tipo               Bairro  ...  Valor M2  Tipo Agregado
0           Quitinete           Copacabana  ...     42.50    Apartamento
1                Casa      Jardim Botânico  ...     70.00           Casa
2         Apartamento               Centro  ...     53.33    Apartamento
3         Apartamento         Higienópolis  ...     16.67    Apartamento
4         Apartamento             Cachambi  ...     26.00    Apartamento
5  Casa de Condomínio      Barra da Tijuca  ...     29.33           Casa
6  Casa de Condomínio                Ramos  ...     15.38           Casa
7         Apartamento               Grajaú  ...     21.43    Apartamento
8         Apartamento  Lins de Vasconcelos  ...     16.67    Apartamento
9         Apartamento           Copacabana  ...     50.00    Apartamento

[10 rows x 11 columns]

In [4]:
dados['Valor'].mean()

5046.172821405663

### Ver https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats

In [6]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selecao = dados['Bairro'].isin(bairros)
dados_bairros = dados[selecao]
dados_bairros['Bairro'].value_counts()

Barra da Tijuca    3863
Copacabana         2644
Ipanema            1764
Leblon             1258
Tijuca             1100
Botafogo            873
Flamengo            714
Name: Bairro, dtype: int64

In [10]:
grupo_bairro = dados_bairros.groupby('Bairro')

In [11]:
type(grupo_bairro)

pandas.core.groupby.generic.DataFrameGroupBy

In [12]:
grupo_bairro.groups

{'Barra da Tijuca': [5, 14, 16, 21, 30, 32, 35, 42, 43, 60, 61, 64, 68, 74, 79, 93, 107, 110, 112, 117, 130, 132, 136, 150, 153, 155, 165, 166, 173, 186, 189, 207, 214, 221, 224, 233, 236, 239, 244, 259, 265, 274, 276, 291, 292, 293, 295, 302, 308, 311, 325, 335, 336, 345, 360, 366, 368, 374, 380, 387, 389, 400, 412, 432, 433, 435, 436, 439, 449, 451, 462, 463, 465, 473, 476, 484, 494, 500, 503, 511, 537, 538, 539, 540, 543, 547, 552, 554, 555, 556, 584, 587, 588, 590, 594, 596, 601, 611, 622, 630, ...], 'Botafogo': [23, 48, 87, 88, 111, 119, 127, 134, 196, 200, 225, 334, 362, 415, 416, 498, 524, 526, 545, 593, 649, 685, 719, 756, 765, 822, 827, 861, 915, 924, 928, 1006, 1043, 1080, 1091, 1110, 1116, 1127, 1140, 1165, 1201, 1205, 1223, 1250, 1282, 1295, 1304, 1317, 1348, 1383, 1414, 1419, 1455, 1517, 1529, 1579, 1630, 1655, 1670, 1699, 1741, 1742, 1788, 1814, 1823, 1826, 1853, 1922, 1931, 1957, 1972, 1981, 1989, 2029, 2066, 2069, 2081, 2083, 2084, 2088, 2097, 2148, 2149, 2165, 2179, 2197, 2242, 2247, 2297, 2352, 2381, 2396, 2413, 2431, 2433, 2470, 2509, 2519, 2532, 2580, ...], 'Copacabana': [0, 9, 10, 11, 24, 25, 28, 31, 86, 91, 104, 109, 125, 129, 140, 142, 143, 151, 162, 174, 184, 192, 194, 206, 223, 249, 263, 275, 278, 281, 289, 290, 301, 307, 319, 327, 329, 348, 359, 365, 371, 372, 388, 396, 404, 425, 426, 437, 458, 460, 485, 486, 487, 497, 530, 532, 534, 557, 564, 573, 574, 583, 606, 610, 612, 615, 633, 650, 659, 666, 667, 678, 687, 689, 694, 701, 713, 730, 736, 739, 772, 808, 824, 836, 872, 881, 894, 898, 907, 912, 917, 919, 921, 922, 929, 952, 963, 964, 980, 989, ...], 'Flamengo': [78, 138, 218, 284, 321, 347, 356, 361, 369, 393, 421, 430, 442, 477, 544, 580, 620, 669, 726, 764, 795, 855, 886, 891, 900, 943, 967, 1044, 1099, 1128, 1137, 1209, 1234, 1241, 1359, 1397, 1400, 1507, 1513, 1525, 1536, 1546, 1555, 1602, 1605, 1680, 1696, 1760, 1763, 1834, 1844, 1872, 1940, 1973, 2005, 2010, 2035, 2218, 2227, 2264, 2274, 2311, 2334, 2362, 2374, 2426, 2461, 2529, 2530, 2539, 2542, 2567, 2594, 2626, 2637, 2702, 2710, 2715, 2773, 2777, 2863, 2877, 2920, 2937, 2955, 2975, 3036, 3087, 3102, 3127, 3129, 3138, 3175, 3259, 3284, 3317, 3393, 3399, 3411, 3420, ...], 'Ipanema': [19, 39, 40, 45, 52, 53, 73, 84, 92, 114, 121, 128, 141, 159, 177, 179, 216, 217, 230, 242, 245, 269, 283, 326, 338, 341, 370, 377, 386, 392, 405, 444, 482, 489, 515, 523, 535, 569, 575, 576, 577, 579, 589, 591, 614, 624, 628, 647, 648, 656, 671, 681, 690, 708, 710, 717, 725, 729, 731, 746, 747, 753, 757, 779, 783, 792, 800, 810, 812, 816, 829, 859, 860, 877, 888, 905, 906, 923, 927, 938, 951, 953, 970, 983, 985, 994, 1001, 1010, 1022, 1027, 1033, 1049, 1050, 1052, 1054, 1058, 1060, 1078, 1086, 1092, ...], 'Leblon': [27, 59, 90, 97, 115, 133, 161, 167, 171, 213, 219, 248, 314, 315, 324, 352, 353, 395, 407, 420, 443, 448, 459, 464, 466, 470, 490, 496, 501, 509, 519, 550, 597, 599, 603, 639, 640, 658, 686, 703, 711, 733, 749, 775, 784, 819, 828, 833, 834, 839, 843, 868, 874, 899, 931, 933, 945, 959, 965, 1053, 1059, 1069, 1070, 1072, 1075, 1088, 1104, 1142, 1155, 1161, 1166, 1193, 1204, 1207, 1214, 1216, 1236, 1278, 1279, 1284, 1301, 1302, 1336, 1338, 1346, 1368, 1408, 1411, 1415, 1428, 1503, 1526, 1540, 1547, 1552, 1560, 1587, 1590, 1622, 1623, ...], 'Tijuca': [15, 18, 20, 80, 82, 126, 145, 149, 158, 164, 176, 180, 182, 185, 197, 202, 258, 337, 342, 354, 363, 438, 450, 469, 479, 504, 513, 527, 565, 568, 598, 600, 627, 636, 637, 653, 674, 738, 743, 744, 762, 776, 788, 791, 794, 796, 811, 838, 841, 851, 871, 875, 885, 925, 947, 968, 974, 987, 990, 1020, 1031, 1038, 1061, 1119, 1178, 1181, 1198, 1263, 1277, 1372, 1431, 1435, 1457, 1479, 1530, 1534, 1563, 1565, 1574, 1581, 1634, 1638, 1658, 1679, 1702, 1704, 1718, 1729, 1751, 1778, 1782, 1790, 1820, 1830, 1831, 1836, 1867, 1877, 1900, 1911, ...]}

In [15]:
for bairro, dados in grupo_bairro:
  print(bairro, ' - ', type(dados))

Barra da Tijuca  -  <class 'pandas.core.frame.DataFrame'>
Botafogo  -  <class 'pandas.core.frame.DataFrame'>
Copacabana  -  <class 'pandas.core.frame.DataFrame'>
Flamengo  -  <class 'pandas.core.frame.DataFrame'>
Ipanema  -  <class 'pandas.core.frame.DataFrame'>
Leblon  -  <class 'pandas.core.frame.DataFrame'>
Tijuca  -  <class 'pandas.core.frame.DataFrame'>

In [16]:
for bairro, dados in grupo_bairro:
  print(dados)

                     Tipo           Bairro  ...  Valor M2  Tipo Agregado
5      Casa de Condomínio  Barra da Tijuca  ...     29.33           Casa
14            Apartamento  Barra da Tijuca  ...     25.37    Apartamento
16     Casa de Condomínio  Barra da Tijuca  ...     16.09           Casa
21            Apartamento  Barra da Tijuca  ...     24.00    Apartamento
30            Apartamento  Barra da Tijuca  ...     25.71    Apartamento
...                   ...              ...  ...       ...            ...
21801  Casa de Condomínio  Barra da Tijuca  ...     20.00           Casa
21811         Apartamento  Barra da Tijuca  ...     26.47    Apartamento
21812         Apartamento  Barra da Tijuca  ...     23.47    Apartamento
21813         Apartamento  Barra da Tijuca  ...     39.29    Apartamento
21820  Casa de Condomínio  Barra da Tijuca  ...     33.33           Casa

[3863 rows x 11 columns]
              Tipo    Bairro  Quartos  ...   IPTU  Valor M2  Tipo Agregado
23     Apartamento  Botafogo        2  ...    0.0     32.89    Apartamento
48     Apartamento  Botafogo        3  ...  289.0     55.09    Apartamento
87     Apartamento  Botafogo        2  ...  138.0     33.73    Apartamento
88     Apartamento  Botafogo        2  ...  187.0     53.75    Apartamento
111    Apartamento  Botafogo        3  ...  220.0     55.00    Apartamento
...            ...       ...      ...  ...    ...       ...            ...
21660  Apartamento  Botafogo        2  ...   75.0     31.67    Apartamento
21666  Apartamento  Botafogo        1  ...   26.0     39.22    Apartamento
21715  Apartamento  Botafogo        2  ...  330.0     59.62    Apartamento
21746  Apartamento  Botafogo        2  ...  260.0     50.36    Apartamento
21790  Apartamento  Botafogo        3  ...  205.0     45.00    Apartamento

[873 rows x 11 columns]
              Tipo      Bairro  Quartos  ...   IPTU  Valor M2  Tipo Agregado
0        Quitinete  Copacabana        1  ...   60.0     42.50    Apartamento
9      Apartamento  Copacabana        1  ...   50.0     50.00    Apartamento
10       Quitinete  Copacabana        1  ...    0.0     66.67    Apartamento
11     Apartamento  Copacabana        4  ...  803.0     53.50    Apartamento
24     Apartamento  Copacabana        3  ...  700.0     26.46    Apartamento
...            ...         ...      ...  ...    ...       ...            ...
21783  Apartamento  Copacabana        1  ...   78.0     40.00    Apartamento
21795  Apartamento  Copacabana        2  ...   80.0     36.57    Apartamento
21809  Apartamento  Copacabana        2  ...   90.0     58.57    Apartamento
21810  Apartamento  Copacabana        1  ...   70.0     39.00    Apartamento
21815    Quitinete  Copacabana        1  ...  200.0     68.18    Apartamento

[2644 rows x 11 columns]
              Tipo    Bairro  Quartos  ...    IPTU  Valor M2  Tipo Agregado
78       Quitinete  Flamengo        0  ...    53.0     35.71    Apartamento
138    Apartamento  Flamengo        1  ...    54.0     47.50    Apartamento
218    Apartamento  Flamengo        1  ...    70.0     43.75    Apartamento
284    Apartamento  Flamengo        2  ...  1150.0     31.76    Apartamento
321    Apartamento  Flamengo        2  ...    98.0     49.12    Apartamento
...            ...       ...      ...  ...     ...       ...            ...
21704  Apartamento  Flamengo        2  ...   131.0     22.08    Apartamento
21728    Quitinete  Flamengo        1  ...     0.0     39.13    Apartamento
21731  Apartamento  Flamengo        3  ...   386.0     30.77    Apartamento
21740  Apartamento  Flamengo        3  ...   130.0     30.43    Apartamento
21794  Apartamento  Flamengo        1  ...     0.0     45.83    Apartamento

[714 rows x 11 columns]
              Tipo   Bairro  Quartos  ...   IPTU  Valor M2  Tipo Agregado
19     Apartamento  Ipanema        3  ...  463.0     56.00    Apartamento
39     Apartamento  Ipanema        1  ...   75.0     57.14    Apartamento
40     Apartamento  Ipanema        1  ...   77.0     36.84    Apartamento
45     Apartamento  Ipanema        3  ...  217.0     36.78    Apartamento
52     Apartamento  Ipanema        3  ...    0.0     53.33    Apartamento
...            ...      ...      ...  ...    ...       ...            ...
21745  Apartamento  Ipanema        4  ...  538.0     59.11    Apartamento
21754  Apartamento  Ipanema        3  ...  850.0     51.43    Apartamento
21788  Apartamento  Ipanema        3  ...  250.0     50.85    Apartamento
21796  Apartamento  Ipanema        1  ...   19.0     36.36    Apartamento
21817  Apartamento  Ipanema        3  ...  600.0    100.00    Apartamento

[1764 rows x 11 columns]
              Tipo  Bairro  Quartos  ...    IPTU  Valor M2  Tipo Agregado
27     Apartamento  Leblon        3  ...   120.0     35.45    Apartamento
59     Apartamento  Leblon        2  ...   245.0     43.75    Apartamento
90     Apartamento  Leblon        3  ...   247.0     51.02    Apartamento
97     Apartamento  Leblon        3  ...  1211.0     45.88    Apartamento
115    Apartamento  Leblon        4  ...  1500.0    105.26    Apartamento
...            ...     ...      ...  ...     ...       ...            ...
21786  Apartamento  Leblon        3  ...   850.0     80.00    Apartamento
21787  Apartamento  Leblon        4  ...   770.0     35.71    Apartamento
21808  Apartamento  Leblon        1  ...   259.0     86.00    Apartamento
21816  Apartamento  Leblon        3  ...   249.0     37.50    Apartamento
21825  Apartamento  Leblon        2  ...     0.0     42.86    Apartamento

[1258 rows x 11 columns]
              Tipo  Bairro  Quartos  ...   IPTU  Valor M2  Tipo Agregado
15     Apartamento  Tijuca        2  ...  138.0     17.27    Apartamento
18     Apartamento  Tijuca        2  ...    0.0     25.64    Apartamento
20     Apartamento  Tijuca        1  ...   25.0     15.62    Apartamento
80     Apartamento  Tijuca        2  ...   84.0     22.50    Apartamento
82     Apartamento  Tijuca        3  ...  170.0     15.70    Apartamento
...            ...     ...      ...  ...    ...       ...            ...
21675  Apartamento  Tijuca        2  ...   62.0     23.08    Apartamento
21714  Apartamento  Tijuca        2  ...   62.0     24.64    Apartamento
21729  Apartamento  Tijuca        2  ...   45.0     24.00    Apartamento
21773  Apartamento  Tijuca        3  ...  141.0     25.33    Apartamento
21818  Apartamento  Tijuca        1  ...   25.0     35.71    Apartamento

[1100 rows x 11 columns]

In [17]:
for bairro, dados in grupo_bairro:
  print('{} -> {}'.format(bairro, dados.Valor.mean()))

Barra da Tijuca -> 7069.552938130986
Botafogo -> 8791.828178694159
Copacabana -> 4126.677004538578
Flamengo -> 4113.526610644258
Ipanema -> 9352.001133786847
Leblon -> 8746.344992050874
Tijuca -> 2043.52

In [18]:
# fazendo a mesma coisa de uma maneira mais simples
grupo_bairro['Valor'].mean()

Bairro
Barra da Tijuca    7069.552938
Botafogo           8791.828179
Copacabana         4126.677005
Flamengo           4113.526611
Ipanema            9352.001134
Leblon             8746.344992
Tijuca             2043.520000
Name: Valor, dtype: float64

In [19]:
grupo_bairro[['Valor', 'Condominio']].mean().round(2)

                   Valor  Condominio
Bairro
Barra da Tijuca  7069.55     3591.01
Botafogo         8791.83      976.28
Copacabana       4126.68     1148.68
Flamengo         4113.53     1102.15
Ipanema          9352.00     2244.44
Leblon           8746.34     2107.18
Tijuca           2043.52      711.69