<a href="https://colab.research.google.com/github/brunonbn/intro-data-science/blob/main/CriandoFaixasValor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando faixas de Valor

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('Aluguel_Residencial4.csv', sep = ';')
dados.head(10)

                 Tipo               Bairro  ...  Valor M2  Tipo Agregado
0           Quitinete           Copacabana  ...     42.50    Apartamento
1                Casa      Jardim Botânico  ...     70.00           Casa
2         Apartamento               Centro  ...     53.33    Apartamento
3         Apartamento         Higienópolis  ...     16.67    Apartamento
4         Apartamento             Cachambi  ...     26.00    Apartamento
5  Casa de Condomínio      Barra da Tijuca  ...     29.33           Casa
6  Casa de Condomínio                Ramos  ...     15.38           Casa
7         Apartamento               Grajaú  ...     21.43    Apartamento
8         Apartamento  Lins de Vasconcelos  ...     16.67    Apartamento
9         Apartamento           Copacabana  ...     50.00    Apartamento

[10 rows x 11 columns]

In [4]:
# faixas de valor de quartos:
# 1 e 2 quartos
# 3 e 4 quartos
# 5 e 6 quartos
# 7 ou mais

# define os limites como o "mais" da última faixa é desconhecido, jogamos um valor muito alto: 100
classes = [0, 2, 4, 6, 100]

In [6]:
quartos = pd.cut(dados.Quartos, classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
21821    (0.0, 2.0]
21822           NaN
21823    (2.0, 4.0]
21824    (0.0, 2.0]
21825    (0.0, 2.0]
Name: Quartos, Length: 21826, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [8]:
# no resultado o "(" representa exclusive (valor não entra) e "]" representa inclusive (valor entra)
pd.value_counts(quartos)

(0, 2]      11250
(2, 4]       9681
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

In [9]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [13]:
# comando "include_lowest = True" inclui o "0" na primeira faixa
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest = True)
pd.value_counts(quartos)

1 e 2 quartos        11409
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64