<a href="https://colab.research.google.com/github/brunonbn/intro-data-science/blob/main/ImoveisResidenciais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório de Análises III

## Imóveis Residenciais

In [1]:
import pandas as pd

In [4]:
dados = pd.read_csv("aluguel.csv", sep=";")

In [5]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

In [6]:
list(dados["Tipo"].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [7]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [8]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [9]:
selecao = dados['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [10]:
dados_residencial = dados[selecao]

In [12]:
dados_residencial.head(10)

                  Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0            Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                 Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
3          Apartamento           Centro        1  ...    800.0       390.0  20.0
4          Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
5          Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
6          Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
7   Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
8   Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
10         Apartamento           Centro        1  ...   1200.0         NaN   NaN
11         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [13]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [14]:
dados_residencial.shape[0]

22580

In [15]:
dados.shape[0]

32960

In [16]:
# renumerando o índice do dados_residencial, já que alguns itens foram retirados no filtro
dados_residencial.index = range(dados_residencial.shape[0])

In [17]:
dados_residencial.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

## Exportando a Base de Dados

In [18]:
dados_residencial.to_csv("Aluguel_Residencial.csv", sep=";")

In [19]:
# ao validar as informações, lendo o arquivo, vemos que ele exportou o índice do DataFrame também
dados_residencial_2 = pd.read_csv("Aluguel_Residencial.csv", sep=";")
dados_residencial_2

       Unnamed: 0         Tipo                Bairro  ...   Valor  Condominio  IPTU
0               0    Quitinete            Copacabana  ...  1700.0       500.0  60.0
1               1         Casa       Jardim Botânico  ...  7000.0         NaN   NaN
2               2  Apartamento                Centro  ...   800.0       390.0  20.0
3               3  Apartamento          Higienópolis  ...   800.0       230.0   NaN
4               4  Apartamento          Vista Alegre  ...  1200.0         NaN   NaN
...           ...          ...                   ...  ...     ...         ...   ...
22575       22575  Apartamento                 Méier  ...   900.0       490.0  48.0
22576       22576    Quitinete                Centro  ...   800.0       350.0  25.0
22577       22577  Apartamento           Jacarepaguá  ...  1800.0       800.0  40.0
22578       22578  Apartamento  São Francisco Xavier  ...  1400.0       509.0  37.0
22579       22579  Apartamento                Leblon  ...  3000.0       760.0   NaN

[22580 rows x 10 columns]

In [20]:
# para exportar sem o índice, usar o parâmetro Index com valor False
dados_residencial.to_csv("Aluguel_Residencial2.csv", sep=";", index=False)

In [21]:
dados_residencial_3 = pd.read_csv("Aluguel_Residencial2.csv", sep=";")
dados_residencial_3

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]