<a href="https://colab.research.google.com/github/brunonbn/intro-data-science/blob/main/MetodosInterpolacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [8]:
# é possível preencher os Nulos com fillna e um valor específico
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [9]:
# outra possibilidade é usar o valor válido exatamente anterior ao valor NULO - para isso usamos o método de interpolação ffill
# importante: se não tiver valor anterior, isto é, se os primeiros registros forem NULOs, ele não preenche
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [10]:
# outro método interessante é o bfill, que é igual ao ffill, mas ele começa do último valor e vai até o primeiro - o contrário do ffill
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [11]:
# também é possível preencher com a média dos valores da série - bem similar ao preenchimento com valor fixo - 0
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [13]:
# é possível passar um limite para valores nulos preenchidos no ffill e bfill - com limite 1, por exemplo, se tivermos 2 nulos em sequencia apenas o primeiro será preenchido
s.fillna(method = "ffill", limit = 1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64